* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.wrapper div {
width: 200px;
height: 200px;
border: 2px solid grey;
margin: 10px;
padding: 50px;
box-sizing: border-box;
text-align: center;
}


.list {
margin: 10px;
padding: 50px;
}

.li {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.selected {
    color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}